<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--   <title>"Электронный магазин"</title>-->
<!--</head>-->
<!--<body>-->
<!--     <header>-->
<!--       <h1> <a href="">Приветствую!!</a> </h1>-->
<!--     </header>-->
<!--     <div class="container">-->
<!--&lt;!&ndash;        <p> Стартовая страница в разработке...</p>&ndash;&gt;-->
<!--        {% block content %}-->
<!--        <h1>Возможности блога: </h1>-->
<!--        <p><a href="{% url 'posts' %}">Опубликованные статьи</a></p>-->
<!--&lt;!&ndash;        <p><a href="{% url 'register_page' %}">Зарегистрироваться</a></p>&ndash;&gt;-->
<!--        {% endblock %}-->
<!--     </div>-->
<!-- </body>-->
<!--</html>-->